.followers-info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  max-height: 170px;
  width: 100%;
  max-width: 340px;

  &__following {
    margin: 0;
    padding: 0;
    min-width: 30%;

    &--term {
      margin-bottom: 15px;
      font-family: Jost, sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 29px;
      color: #fff;
    }

    &--description {
      display: flex;
      justify-content: space-between;
      flex-grow: 1;
      align-items: center;
      min-width: 40px;
      font-weight: 700;
      font-size: 21px;
    }
  }

  &__icon {
    display: block;
    margin-right: 10px;
    fill: #FFF;
  }
}
