.main-search {
  display: flex;
  padding-bottom: 30px;
}

.main-search__input {
  display: block;
  margin: 0;
  padding: 0;
  padding-left: 90px;
  margin-right: 6px;
  max-width: 325px;
  width: 100%;
  height: 64px;
  border: 2px solid #D6A94F;
  border-radius: 4px;
  background-color: transparent;
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M25.3336 11.9976H6.66675L16.0002 19.9976L25.3336 11.9976Z' fill='white'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: 10px center;
  background-size: 32px 32px;
  font-family: Jost, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 80px;
  color: #FFF;
  appearance: none;
  list-style: none;

  &:hover {
    appearance: none;
    list-style: none;
  }

  &::placeholder {
    appearance: none;
    list-style: none;
    font-family: Jost, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: #FFF;
    padding-top: 15px;
  }
}

.main-search__btn {
  margin-left: 10px;
  width: 176px;
  background: #D6A94F;
  border: none;
  border-radius: 4px;
  font-family: Jost, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 29px;
  text-align: center;
  color: #000;
}

@import '../mobile/main-search.scss'
