.message {
  width: 100%;
  max-width: 304px;
  margin-left: auto;
  margin-right: auto;
  font-family: Jost, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  color: #ff496d;
  background: rgba(41, 41, 41, 0.1);
  border: 1px solid #ff496d;
  border-radius: 6px;
  padding: 22px;
}
