*,
*::before,
*::after {
  box-sizing: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.visible-mobile-menu {
  display: none !important;
}

@media screen and (max-width: $mobile-menu) {
  .visible-mobile-menu {
    display: block !important;
  }

  .hidden-mobile-menu {
    display: none !important;
  }
  
}

html {
  box-sizing: border-box;
}

body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  color: #000;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  text-decoration: none;
}

button,
label {
  cursor: pointer;
}

button {
  &:disabled {
    opacity: 0.5;
    cursor: initial;
  }
}

.overflow-hidden {
  overflow: hidden;
}
