@mixin list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin button-reset {
  margin: 0;
  padding: 0;
  border: none;
}

@mixin fonts($size: 14px, $weight: 400, $color: #000, $name: 'Open Sans') {
  font-family: $name, 'Arial', sans-serif;
  font-size: $size;
  font-weight: $weight;
  color: $color;
}

@mixin hover-focus-active-link {
  &:hover,
  &:focus {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.4;
  }
}

@mixin hover-active($hover, $active) {
  &:hover,
  &:focus {
    background-color: $hover;
  }

  &:active {
    background-color: $active;
  }
}

$mobile-background: linear-gradient(180deg, #000 0%, #68030D 100%);
$mobile-menu: 736px;