@media screen and (max-width: 960px) {
  .events {
    margin-right: 15px;
    margin-left: 15px;
    
    &__item {
      width: 293px;
      height: 574px;
      flex-shrink: 0;
      flex-grow: 0;
    }

    &__event {
      width: 293px;
      height: 574px;
      flex-shrink: 0;
      flex-grow: 0;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

@media screen and (max-width: 768px) {
  .events {
    margin-right: 0;
    margin-left: 0;

    &__title-wrapper {
      padding-left: 15px;
    }
  }
}

@media screen and (max-width: 567px) {
  .events {
    padding-bottom: 30px;

    &__pagination {
      top: auto;
      bottom: -30px;
    }
  }
}