@media screen and (max-width: 600px) {
  .main-search {
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    font-display: column;
    
    &__input {
      margin-right: 0;
      margin-bottom: 24px;
      width: 100%;
      height: 48px;
    }

    &__btn {
      margin-left: 0;
      height: 48px;
    }
  }
}